{{>header}}
<div class="container-fluid">
    <h3>Administración de cursos</h3>
    <div class="container-fluid" style=" border:1px solid green;">
        <br>
        {{{listadoMatriculados}}}
    </div>
</div>
<br>

{{>footer}}