{{>header}}
    <p>
        Formulario para ingresar un nuevo curso
    </p>
    <p>
        {{crearCurso id nombre modalidad valor descripcion intensidad}}
    </p>
    <br>
    {{{listarCursos}}}
{{>footer}}
