{{>header}}

<div class="container-fluid">
    <h3>Creación de cursos</h3>
    <div class="container-fluid" style=" border:1px solid green;">
        <form action="/crearcursox" method="post">

            <div class="form-row mt-3">
                <div class="form-group col-md-6">
                    <label for="inputId">Id</label>
                    <input type="number" class="form-control" name="id" id="inputId" placeholder="Id del curso"
                        required>
                </div>
                <div class="form-group col-md-6">
                    <label for="inputName">Nombre</label>
                    <input type="text" class="form-control" name="nombre" id="inputName" placeholder="Nombre del curso"
                        required>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="selectModalidad">Modalidad</label>
                    <select class="form-control" id="selectModalidad" name="modalidad">
                        <option>Presencial</option>
                        <option>Virtual</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label for="inputValor">Valor</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">COP</span>
                        </div>
                        <input type="number" class="form-control" aria-label="Monto (en pesos)" 
                            id="inputValor" placeholder="Valor del curso en pesos"
                            name="valor" pattern = "[0-9]{1,5}" required>
                        <div class="input-group-append">
                            <span class="input-group-text">.00</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="textDescripcion">Descripción</label>
                    <textarea class="form-control" id="textDescripcion" name="descripcion"
                        rows="3" required></textarea >
                </div>
                <div class="form-group col-md-6">
                    <label for="inputIntensidad">Intensidad Horaria</label>
                    <input type="number" class="form-control" name="intensidad" 
                    id="inputIntensidad" value="0">
                </div>
            </div>

            <button type="submit" class="btn btn-success btn-block">Guardar</button>
        </form>
        <br>
    </div>
</div>

{{>footer}}
