{{>header}}
<div class="container-fluid">
    {{!-- <div class="alert alert-{{estadoCreacion}}" role="alert"> --}}
        {{crearCurso id nombre modalidad valor descripcion intensidad}}
    {{!-- </div> --}}
    <br>
    {{{listarCursos}}}
</div>
{{>footer}}