{{>header}}
{{eliminarMatricula id nombre_curso}}
<div class="container-fluid">
    <div class="alert alert-{{getAlert}}" role="alert">
        {{getHtmlResponse}}
    </div>
    <br>
</div>
{{>footer}}