{{>header}}
<div class="container-fluid">
    {{!-- <div class="alert alert-{{estadoCreacion}}" role="alert"> --}}
        {{registrarUsuario id nombre correo telefono}}
    {{!-- </div> --}}
    <br>
</div>
{{>footer}}