{{>header}}
<div class="container-fluid">
    <h3>Administración de matrículas</h3>
    <div class="container-fluid" style=" border:1px solid green;">
        <br>
        {{{listadoParaEliminar}}} 
        <br>
    </div>
</div>
<br>

{{>footer}}