{{>header}}
{{cerrarCurso idCursoCerrado}}
<div class="container-fluid">
    <h3>Administración de cursos</h3>
    <div class="alert alert-{{getAlert}}" role="alert">
        {{getHtmlResponse}}
    </div>
    <br>
</div>
{{>footer}}